<div class="row">
  <div class="span4 offset4 well">
    <h1>Changer le mot de passe</h1>

    <p>Veuillez entrer votre addresse email ci-dessous.</p>

    <%= form_tag password_resets_path do %>
      <%= text_field_tag :email %>
      <%= submit_tag "Reset Password" %>
    <% end %>
  </div>
</div>
