<h1>Instructions de changement du mot de passe</h1>

<p>
  Une requette pour changer votre mot de passe a été émise.
  Si vous ne l'avez pas emis vous même, ignorez simplement cet email.
  Si vous l'avez émise volontairement, suivez le lien ci-dessous.

<%= link_to "Changer le mot de passe.", @edit_password_reset_url %>
