<div class="row">
	<div class="span10 offset1">
		<h2><%= link_to @forum.title, @forum %> &raquo; <small><%= link_to @topic.title, [@forum, @topic] %></small></h2>
		<br />
		<%= render :partial => 'form' %>
	</div>
</div>
