<div class="row">
  <div class="span2"><h1><%= t '.title' %></h1></div>
  <div class="span2 offset8">
    <%= link_to content_tag(:i, "", :class => "icon-plus") + " " + t('.new'), new_pm_path, :class => "btn btn-mini" if can?(:create, Pm) %>
  </div>
</div>

<br />

<div class="row">
  <div class="span6">
    <h3>Messages reçus</h3>
    <%= render :partial => "pms_table", :locals => {:pms =>
    @current_user.received_pms.order("created_at DESC"), :side => "Expediteur"} %>
  </div>

  <div class="span6">
    <h3>Messages envoyés</h3>
    <%= render :partial => "pms_table", :locals => {:pms =>
    @current_user.sent_pms.order("created_at DESC"), :side => "Destinataire"} %>
  </div>
</div>
