<%- model_class = @user.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></h1>
<div class="row">
	<div class="span10 offset1">
    <br />
		<%= render :partial => 'form' %>
	</div>
</div>

