<div class="container footer">
	<div class="content">
		<div class="row">
			<div class="span12">
				<footer>
					<p>Running <a href='http://github.com/NuxosMinecraft/NuxWS' target='_blank' title='Nuxos Web Site'>NuxWS</a> v0.1</p>
				</footer>
			</div>
		</div>
	</div>
</div>