<div class="container footer">
	<div class="content">
		<div class="row">
			<div class="span11">
				<p><%= t 'footer.running_html', :version => "v0.1" %></p>
			</div>
			<div class="span1">
				<%= link_to "http://rubyonrails.org/", :target => "_blank" do %>
				<%= image_tag "rails_powered.gif", :alt => "Rails powered !" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
