<div class="container footer">
	<div class="content">
		<div class="row">
			<div class="span10">
				<p>Running <a href='http://github.com/NuxosMinecraft/NuxWS' target='_blank' title='Nuxos Web Site'>NuxWS</a> v0.1</p>
			</div>
			<div class="span2">
        <%- if @current_user %>
	        <%- if @current_user.role %>
	        Role: <%= @current_user.role.name %>
	        <% end %>
			<%- if @current_user.admin? %>
				<br />
				Change <%= link_to "application settings.", settings_path %>
			<% end %>
        <% end %>
      </div>
		</div>
	</div>
</div>
