<div class="control-group">
  <%= label_tag :donations_goal_month, t(:donations_goal_month, :scope => :settings, :default => "Donations goal for this month"), :class => 'control-label' %>
  <div class="controls">
    <%= number_field_tag :donations_goal_month, Settings.donations_goal_month, :class => 'text_field', :class => "span2", :rows => 5 %>
  </div>
</div>
