body {
  padding-top: 60px;
}

.footer {
	border-top: 1px solid lightgrey;
	margin-top: 2em;
	padding-top: 5px;
}

.forums-separator {
	border-top: 1px solid lightgrey;
	margin-bottom: 2em;
}


.topics-separator {
	border-top: 1px solid lightgrey;
	margin-bottom: 2em;
}

.forum_topic {
	margin-bottom: 2em;
}

.forum_message {
	margin-bottom: 2em;
}

.thumbnail p {
	height: 36px;
	overflow: hidden;
}