.forums-separator {
	/* border-top: 1px dashed lightgrey; */
	margin-bottom: 2em;
}


.topics-separator {
	border-top: 1px solid lightgrey;
	margin-bottom: 2em;
}

.forum_topic {
	margin-bottom: 2em;
}

.forum_message {
	margin-bottom: 2em;
}

.thumbnail p {
	height: 36px;
	overflow: hidden;
}


.forums_list_header {
	background-color: #305084;
	color: #FFFFFF;
	
	border-top: 1px solid #5DC0FA;
	
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	
	border-collapse: separate;
		
	/* reset bootstrap stuff */
	margin-bottom: 1px;
}

.forums_list .fl_t {
}

.forums_list .fl_t .fl_t_title {
	background-color: #F0F4F7;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.forums_list .fl_t .fl_t_title_modo {
	background-color: #D0D0D0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

.forums_list .fl_t .fl_t_msgs {
	background-color: #E7EAEF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}



.topics_list_header {
	background-color: #305084;
	color: #FFFFFF;
	
	border-top: 1px solid #5DC0FA;
	
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	
	border-collapse: separate;
		
	/* reset bootstrap stuff */
	margin-bottom: 1px;
}

.topics_list .tl_t {
}

.topics_list .tl_t .tl_t_title {
	background-color: #F0F4F7;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

.topics_list .tl_t .tl_t_infos {
	background-color: #E7EAEF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

.topics_list .tl_t .tl_t_actions {
	background-color: #F0F4F7;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
}

.topics_list .tl_t .tl_t_title_pinned {
	background-color: #F5F5F0;
}
.topics_list .tl_t .tl_t_infos_pinned {
	background-color: #DEDEDE;
}
.topics_list .tl_t .tl_t_actions_pinned {
	background-color: #F5F5F0;
}



.topic_header {
	background-color: #305084;
	color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	
	margin-bottom: 0.5em;
}

.topic_header .th_author {
	text-align: center;
}

.forum_topic {
	background-color: #E1E5EA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	padding: 5px;
}

.topic_block {
	background-color: #E7EAEF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	padding: 10px;
}

.tb_author .tb_skin {
	margin-right: 1em;
}

.tb_msg_dating {
	margin-bottom: 0.5em;
}

.tb_msg_content div {
	border-top: 1px solid #9999AA;
}

.block_message {
	margin-bottom: 0.5em;
}

.thumb_edit_gallery {
	min-height: 35em;
	margin-bottom: 1em;
}

.add_nested_fields_gallery_image {
	margin-left: 3em;
}



.sidebar {

}

.sidebar .s_title {
	background-color: #D8D8D8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

.sidebar .s_elements {
}

.sidebar .s_elements .s_element {
}

.homepage_row {
	margin-bottom: 2em;
}

.role_color_guest {
	color: #555;
}

.role_color_padawan {
	color: #080;
}

.role_color_player {
	color: #08F;
}

.role_color_moderator {
	color: blue;
}

.role_color_admin {
	color: red;
}

.block {
	border-right: 1px solid grey;
}
