<div class="container">

	<div class="row">
		<div class="span4">
			<div class="hero-unit hero-small">
				<h2>Nous rejoindre!</h2>
				<p>Comment nous rejoindre</p>
				<p><a class="btn btn-primary btn-large">Plus d'infos &raquo;</a></p>
			</div>
		</div>
		<div class="span8">
			<div class="hero-unit hero-small">
				<h2>D&eacute;couvrez <%= @place.name %></h2>
				<p><%= @place.short_description %></p>
				<p>
					<%= link_to @place, :class => "btn btn-primary btn-small" do%>
					Plus d'infos &raquo;
					<% end %>
					<%= link_to @place.map_link, :class => "btn btn-success btn-small" do%>
					Sur la map &raquo;
					<% end %>
					
				</p>
			</div>
		</div>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
	</div>
</div> <!-- /container -->