<!DOCTYPE html><html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Nuxos Minecraft - Maintenance</title>
  </head>
  <body>
    <p align="center"></p>
    <hr style="width: 25%; height: 1px; color: black; border-style: solid;" />
    <h1 align="center">Nuxos Minecraft</h1>
    <h4 align="center">Mode Maintenance</h4>
    <p align="center"></p>
    <hr style="width: 25%; height: 1px; color: black; border-style: solid;" />
    <p align="center"><br />
    </p>
    <p align="center">Petit soucis technique</p>
    <p align="center">Nouvelle fonctionalité</p>
    <p align="center">Nettoyage de printemps</p>
    <p align="center">Problème dans la matrice</p>
    <p align="center"><br />
    </p>
    <p align="center">En tout cas, on y travaille ;)</p>
    <p align="center">Stay tuned.</p>
    <p align="center"><br />
    </p>
    <hr style="width: 25%; height: 1px; color: black; border-style: solid;" />
    <div align="center"><br />
      <a href="http://webchat.irc.sigpipe.me/">IRC</a> - <a href="mailto:contact@nuxos-minecraft.fr">mail</a><br />
      <br />
      Minecraft : <font color="#009900"><strong><span>mc.nuxos-minecraft.fr</span></strong></font><br />
    </div>
  </body>
</html>